@import "../global.scss";
@import "../variables.scss";

.services__section {
    padding: 48px 0 128px;

    .container {
        .section__title {
            text-align: center;

            &.dark {
                color: $primaryColor;
            }
        }

        .services__block {
            padding: 32px 0 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 32px;

            .services__block__item {
                display: flex;
                align-items: center;
                background: $white;
                width: 25%;
                padding: 32px;
                gap: 32px;
                border: 3px solid $primaryColor;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                .item__info {
                    .item__title {
                        font-family: 'Raleway', sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        margin: 0;
                    }

                    .item__descr {
                        color: $lightText;
                    }
                }
            }
        }

        @media screen and (max-width: $tabletM) {
            .services__block {
                .services__block__item {
                    padding: 16px;
                    gap: 16px;

                    .item__info {
                        .item__title {
                            font-size: 14px;
                        }

                        .item__descr {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $mobileM) {
            .services__block {
                .services__block__item {
                    width: 36%;
                }
            }
        }
        @media screen and (max-width: $mobileS) {
            .services__block {
                .services__block__item {
                    width: 100%;
                }
            }
        }
    }
}