$bg: #162E44;
$white: #FFFFFF;
$darkText : #11414B;
$lightText : #4F7177;
$primaryColor: #01B3A7;
$grey : #E1E1E1;

$br : 4px;

$tabletL : 1024px;
$tabletM : 820px;
$mobileL : 768px;
$mobileM : 576px;
$mobileS : 480px;
$mobileXS : 380px;
